repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        name: ruff (fix)
        args: [--fix]
      - id: ruff-format
      - id: ruff
        name: ruff (check)
