repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        name: ruff (lint)
      - id: ruff-format
        name: ruff (format check)
        args: [--check]
