alembic==1.15.2
psycopg2-binary==2.9.10
fastapi[standard]==0.115.12
maxminddb==2.6.3
typer==0.15.2
loguru==0.7.3
pydantic_settings==2.8.1
sqlmodel==0.0.24
cachetools==5.5.2
datasets==3.5.0
scikit-learn==1.6.1
neo4j==5.28.1
tqdm==4.67.1
aioredis==2.0.1
faststream==0.5.39
confluent-kafka==2.9.0
celery==5.4.0
aiobotocore==2.17.0
boto3==1.35.93
feast[redis,spark,aws]==0.48.1
qdrant-client==1.13.0
multilingual-clip==1.0.10
sentence-transformers[onnx]==4.1.0