alembic==1.15.1
psycopg2-binary==2.9.10
fastapi[standard]==0.115.11
maxminddb==2.6.3
typer==0.15.2
loguru==0.7.3
pydantic_settings==2.8.1
sqlmodel==0.0.24
cachetools==5.5.2
numpy==2.2.3
datasets==3.5.0
scikit-learn==1.6.1